<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="cont">
      <form action="createUrl" method="post">
        <label for="url">Url</label>
        <input type="text" name="url" id="url" />
        <button type="submit">Url Üret</button>
      </form>
    </div>
  </body>
</html>
